body {
  margin: 0;
  font-family: sans-serif;
  color: rgb(41, 41, 46);
  display: grid;
  place-items: center;
}

table {
  width: 100%;
}
tr {
  width: 100%;
}
td {
  background-color: rgb(220, 195, 243);
  text-align: center;
}
